@media (max-width: 620px) {

    main {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-seta svg {
        position: absolute;
        height: 20px
    }

    .card-list {
        margin-top: 100px;
        height: 480px;
    }

    .card {
        height: 360px;
    }

    .card-img {
        height: 350px;
    }

}