body {
    font-family: 'league', sans-serif;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    min-height: 100vh;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
height: 100px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn-seta {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: black;
    border: solid rgb(255, 220, 123);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn-seta:hover {
    background-color: rgb(255, 220, 123);
    border: solid black;
}

.btn-seta:hover svg{
    fill: black;
}

.btn-seta svg {
    fill: rgb(255, 220, 123);
}

.btn-seta.btn-back {
    transform: rotateY(180deg);
}

.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 250px;
    height: 390px;
    position: relative;
}

.card-list:hover img{
  filter: brightness(20%);
  transition: 0.5s ease-in-out;
}

.card-list:hover .text {
    opacity: 1;

}

.card {
    opacity: 0;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 0 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.card.selected {
    opacity: 1;
    z-index: 1;
    transition: all 0.5s ease;
}

.card img{
    transition: 0.5s ease-in-out;
}

.card-img {
    margin-top: 5px;
    height: 390px;
}
.card .description {
    position: absolute;
    padding: 20px;
    height: 250px;
}

.text {
    padding: 5px;
    color: white;
    text-align: justify;
    overflow-y: auto;
    max-height: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(121, 106, 65);
    
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 235, 179);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}



